*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
body{
    overflow-x: hidden;
}

.main{
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: black;
}
ul li{
    color: white;
    list-style-type: none;
    
}
.head{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}
.ham{
    display: none;
}
.logo li{
    margin-left: 12px;
    font-size: 44px;

}

.pages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right:128px;

}
.pages li{
    margin-right:12px ;
    margin-left:  12px ;
    font-size: 20px;
}
 li a{
    text-decoration: none;
    color:whitesmoke;
}
.pages li a:hover{
    background-color: #4f0695;
}
.content{
    position: absolute;
    top:74.67px;
    height: 488.66px;
    width:100%;
    display :flex;
    justify-content: space-between;
}
.element{
    width: 50%;
}
h4,p{
    color: white;
}
.t1{
    position:relative;
    top:101px;
    display: block;
    margin-left: 89px;
    font-size: 3vw;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.t2{
    position:relative;
    top:111px;
    display: block;
    background-color: #772ba8;
    margin-left: 89px;
    width: 264px;
    border-radius: 5px;
}
.t3{
    position:relative;
    top:125px;
    display: block;
    margin-left: 89px;
    width: 254px;

}
.t3 p{
    font-size: 24px;
}
.img{
       width: 50%;
       display: flex;
       align-items: center;    
       justify-content: center;
}
.img img{
    width:80% ;
}
.links{
    position: relative;
    top: 25px;
}
i{
    margin-right: 12px;
    margin-left: 12px;
}
.skill{
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: black;
}
#skl{
    color: white;
    position: relative;
    top: 25px;
    left:30px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}
.sk1{
    position: relative;
    top:106px;
    left:52px;
}
.sk1  span,.sk2 span{
    color: white;
    font-size:30px;
}
.sk1 img{
    height:51px; 
    width:52px ; 
    margin-left: 18px;
    margin-right: 18px;
}
.sk2 img{
    height:51px;
     width:52px; 
     margin-left:18px;
    margin-right: 18px;
}
.sk2{
    position: relative;
    top: 256px;
    left:52px;
}
.about{
    overflow-x: hidden;
    height: 100vh;
    width:100%;
    background-color: black;
}
#abt{
    color: white;
    position: relative;
    top: 25px;
    left:30px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}
.abtout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    height:525.33px;
    width:50%;
}
.me{
    position: relative;
    top:82px;
    left: 40px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}
.info p{
    position: relative;
    top:107px;
    left:41px;
}
.abtout img{
 position:relative;
 top: 22px;
 width: 37%;  

 
}
.contact{
    overflow-x: hidden;
    height: 100vh;
    width:100%;
    background-color: black;

}
#cnt{
    position: relative;
    top:82px;
    left: 40px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;

}
.cntopt{
    position: relative;
    top: 221px;
    display :flex;
    align-items: center;
    justify-content: center;
}
/*media query code start here */
@media only  screen and (max-width:768px) {
    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    .main{
        overflow-x:hidden;
        height: 100vh;
        width: 100%;
        background-color: black;
    }
    .head{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
    }
    .logo li{
        margin-left: 0px;
        margin-right: 12px;
        font-size: 35px;
    
    }
    .pages{
        display: none;
        margin: 0px;
    
    }
    .pages li{
        font-size: 20px;
        margin: 0px;
    }
    .ham{
        display: block;
    }
    .l1{
        display: block;
        position: relative;
        height:2px;
        width:16px;
        margin-left: 4px;
        background-color: white;
    }
    .l2{
        display: block;
        position: relative;
        top:4px;
        height: 2px;
        width:16px;
        margin-left: 4px;
        background-color: white;
    }
    .l3{
        display: block;
        position: relative;
        top:8px;
        height: 2px;
        width:16px;
        margin-left: 4px;
        background-color: white;
    }
    .content{
        position: absolute;
        top:74.67px;
        height: 595px;
        width:100%;
        display :flex;
        justify-content:center;
        flex-direction: column-reverse;
    }
    .img{
        position: relative;
        top:-30px;
        width: 100%;
        display: flex;
        align-items: center;    
        justify-content: center;
 }
 .img img{
     width:227px ;
 }
    .element{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .t1{
        position:relative;
        top:-12px;
        display: block;
        margin-left: 15px;
        font-size: 25px;
        color: white;
        font-family: 'Rubik', sans-serif;
    }
    .t2{
        position:relative;
        top:-2px;
        display: block;
        background-color: #772ba8;
        margin-left: 37px;
        width: 264px;
        padding: 1px;
        border-radius: 5px;
    }
    .t3{
        position:relative;
        top:11px;
        display: block;
        margin-left: 42px;
        width: 254px;
    
    }
    .t3 p{
        font-size: 18px;
    }
    .sk1  span,.sk2 span{
        position: relative;
        left: -35px;
        color: white;
        font-size:25px;
        
    }
    .sk1 i{
        font-size: 35px;
        
    }
    .sk2 i{
        font-size:48px ;
    }
    .sk1 img {
        height: 31px;
        width: 34px;
    }
    .sk2 img {
        height: 47px;
        width: 42px;
    }
    .abtout{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .info{
     height: auto;
        width:100%;
    }
    .info p{
        position: relative;
        top:107px;
        left:41px;
        padding-right: 12px;
    }
    .abtout img{
        position:relative;
        top: 156px;
        width: 212px;  
    }
    .cntopt i{
        font-size: 61px;
    }


    

        
    
}
    
